/* General setup */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web &display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    background-color: #F2F2F2;
    color: #262223;
    font-size: 14px;
    line-height: 1.25em;
    letter-spacing: 1px;
    word-spacing: 4px;
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header,
section,
aside,
nav,
footer {
    padding: 20px;
}

/* header and footer */

header,
footer {
    font-family: 'Titillium Web', sans-serif;
    border-top: 5px solid #262223;
    border-bottom: 5px solid #262223;
    background-color: #05C7F2;
}

header {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 1px;
}
a {
    color: #05C7F2;
    font-weight: 600;
}
a:hover,
a:focus {
    color: #262223;
    text-decoration: none;
}
a[href^="http"]::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/External_link_font_awesome.svg/1200px-External_link_font_awesome.svg.png');
    content: "";
    width: 20px;
    height: 20px;
    background-size: 20px;
    display: inline-block;
}
section p:first-of-type {
    text-indent: 20px;
}
nav ul li, aside ul li {
  background-color: #bde8f280;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid #262223;
}
nav ul, aside ul {
  list-style-type: none;
  padding: 0;
}